@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* Remove default formatting and specify basic parameters */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Sen', sans-serif;
  text-align: center;
  color: black;
}

/*---------- Grid template areas -----------*/
/* Mobile devices */
@media only screen and (max-width: 760px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'article'
      'section'
      'aside'
      'footer';
  }
}
/* Tablets */
@media only screen and (min-width: 760px) {
  #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas:
      'header header header header'
      'nav nav nav nav'
      'nav nav nav nav'
      'section section section section'
      'aside main main main'
      'aside main main main'
      '. main main main'
      '. main main main'
      'article article article article'
      'article article article article'
      'article article article article'
      'footer footer footer footer';
  }
}
/* Laptops and desktops */
@media only screen and (min-width: 1100px) {
  #content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 1300px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas:
      'header header header header header header header header'
      'nav nav nav nav nav nav nav nav'
      'nav nav nav nav nav nav nav nav'
      'aside main main main main section section section'
      'aside main main main main section section section'
      'aside main main main main section section section'
      'aside main main main main . . .'
      'article article article article article article article article'
      'article article article article article article article article'
      'article article article article article article article article'
      'footer footer footer footer footer footer footer footer';
  }
}

/* Grid area assignment */
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
article {
  grid-area: article;
}
section {
  grid-area: section;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

/* Identify grid areas */
#content > * {
  border: cornflowerblue solid 2px;
  border-radius: 15px;
  padding: 30px;
}

/* Other styling */
