#form {
  border: 1px black solid;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  height: 60px;
  color: black;
  font-size: 16pt;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
